aws-xray-sdk==2.7.0
boto3==1.17.36
botocore==1.20.36
ccxt==1.50.59
decorator==4.4.2
pynamodb==5.0.3
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
urllib3==1.26.3
jsonpickle==2.0.0
ssm-cache==2.10
testresources==2.0.1
pandas==1.2.5
stockstats==0.3.2
jsonpickle==2.0.0
int-date==0.1.8
